/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*main*/
.wrapper{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.head{
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1;
}

.logo{
  float: left;
  width: 30%;
  height: 70px;
  }

.logoname{
  text-align: center;
  font-size: 30px;
  line-height: 70px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  }

.nav{
  float: right;
  width: 70%;
}

.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  line-height: 70px;
}

.menu li{
  display: inline;
  margin-right:50px;
}

.menu li a{
  text-decoration: none;
  font-size: 20px;
  color: #000;
  font-family: 'Indie Flower', cursive;
}

.menu li a:hover{
  font-size: 150%;
  color: #f20a0a;
}

.container{
  position: relative;
  top: 70px;
  width: 100%;
  height: 100vh;
  background: url(../img/head.jpg);
  background-size: cover;
}

/*.container::after{
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  background-color: #8a8787;
  opacity: 0.7;
}*/

.name{
  float: right;
}

.name p{
  float: right;
}

.footer{
  width: 100%;
  height: 80px;
}
