/*others page共用*/
.du-navstyle{
  background-color: rgba(0,0,0,0.7);
}

.dunav-text-title{
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.dunav-text{
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.du-contitle{
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.du-footer{
  margin-top: 50px;
  padding: 40px 0 40px;
  background-color: rgba(0, 0, 0, 0.7);
}

.du-fontcolor,.du-fontcolor-a{
  color: #ffffff;
}

.du-fontcolor-a:hover{
  color: #f21818;
  text-decoration: none;
}

.du-copyright p{
  width: 100%;
  color: #000;
}

/*index*/

.duhead{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
.duimg{
  width: 100%;
  height: 100vh;
}

.duhead p{
  position: relative;
  bottom: 100px;
  text-align: center;
  padding: 10px 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.du-context{
  text-align: justify;
}

.du-conimg{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/*about*/

.about{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-image: url("../img/du03.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: top center;
}

.about-title-text{
  position: relative;
  margin: 40px auto;
  text-align: center;
  font-size: 30px;
  width: 80%;
  border-bottom: 1px solid;
  padding-bottom: 30px;
}

.about-text{
  position: relative;
  margin: 50px auto;
  width: 80%;
}

.about-text-con{
  margin: 10px auto;
  text-align: justify;
  line-height: 40px;
  font-size: 15px;
}

.about-title-exp{
  position: relative;
  margin: 40px auto;
  text-align: center;
  font-size: 30px;
  width: 80%;
  border-bottom: 1px solid;
  padding-bottom: 30px;
}

.about-text-exp{
  position: relative;
  margin: 50px auto;
  width: 80%;
}

.about-text-exp-p{
  margin: 5px auto;
  line-height: 40px;
  font-size: 15px;
}

/*news*/

.news{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  /*background: url("../img/newhead01.jpg");*/
  background-image: url("../img/du04.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.newspic{
  position: relative;
  margin: 0 auto;
  width: 60%;
  height: auto;
}

.newspic-box{
  padding: 30px 0 30px 0;
}

.newspic-box p{
  text-align: center;
}

.news-text{
  text-align: center;
}

/*work*/

.work{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-image: url("../img/du05.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.du-workimg{
  float: left;
  display: block;
  width: 300px;
}

/*RWD*/

@media screen and (max-width: 768px){

  .duhead,.duimg{
    width: 100%;
    height: 400px;
    background-size: contain;
  }

  .work,.about,.news{
    width: 100%;
    height: 400px;
    background-size: 100% 400px;
  }

  .du-conimg{
    width: 200px;
    height: 300px;
    text-align: center;
    display: block;
  }

  .duimg{
    width: 100%;
    height: 400px;
  }

  .grid-sizer,
  .grid-item {
    width: 300px;
  }
}

@media screen and (max-device-width: 320px){
  .about-text-exp-p{
    text-align: left;
  }

  .duhead{
    width: 100%;
    height: 400px;
    background-size: contain;
  }

  .du-conimg{
    width: 200px;
    height: 300px;
    text-align: center;
    display: block;
  }

  .duimg{
    width: 100%;
    height: 400px;
  }

  .work,.about,.news{
    width: 100%;
    height: 400px;
    background-size: 100% 400px;
  }

  .grid-sizer,
  .grid-item {
    width: 300px;
  }
}
