/*others page共用*/
.du-navstyle{
  background-color: rgba(0,0,0,0.7);
}

.dunav-text-title{
  font-family: 'Baloo Da', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.dunav-text{
  font-family: 'Baloo Da', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.du-container{
  margin-top: 50px;
  margin-bottom: 50px;
}

.du-contitle{
  position: relative;
  margin: 30px auto;
  width: 300px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  padding: 5px;
  border: 1px solid;
  font-family: 'Baloo Da', cursive;
}

.du-footer{
  background-color: rgba(0, 0, 0, 0.7);
  height: auto;
}

.du-footer-btn{
  position: absolute;
}

.du-fonttxt-f{
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}

.du-fonttxt-c{
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}

.du-copyright p{
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: #000;
}

/*index*/

.duhead{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
.duimg{
  width: 100%;
  height: 100vh;
}

.du-text{
  position: relative;
  margin: 0 auto;
  width: 480px;
  bottom: 100px;
  text-align: center;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  border-radius: 10px;
}

.du-row-bg{
  padding: 20px 0 20px 0;
  box-shadow: 1px 2px 12px 0px rgba(20%,20%,40%,0.5);
  margin: 10px 0 10px 0;
}

.du-context-box{
  display: table;
  height: 200px;
}

.du-context{
  text-align: justify;
  display: table-cell;
  vertical-align: middle;
  line-height: 40px;
  font-size: 15px;
}

.du-conimg{
  display: block;
  width: 200px;
  margin: 0 auto;
  height: 300px;
  text-align: center;
}

/*about*/

.about-title-text{
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin: 20px 0 20px 0;
  font-size: 40px;
}

.about-text{
  position: relative;
  margin: 50px auto;
}

.about-text-con{
  margin: 10px auto;
  text-align: justify;
  line-height: 40px;
  font-size: 15px;
}

.about-title-exp{
  position: relative;
  margin: 40px auto;
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid;
  padding-bottom: 30px;
}

.about-text-exp{
  position: relative;
  margin: 5px auto;
  padding-left: 40px;
}

.about-text-exp-p{
  line-height: 40px;
  font-size: 15px;
}

.du-aboutbook{
  display: block;
  margin: 5px auto;
}

/*news*/

.newspic-box{
  padding: 30px 0 30px 0;
}

.newspic-box p{
  text-align: center;
}

.news-text{
  text-align: center;
}

/*work*/
.du-workimg{
  float: left;
  display: block;
  width: 300px;
}

/*RWD*/

@media screen and (max-width: 1200px){

  .grid {
    position: relative;
    width: 1000px;
    margin: 20px auto;
    background: #fff;
  }

  .grid-sizer,
  .grid-item {
    width: 500px;
  }

  .duhead,.duimg{
    width: 100%;
    height: 500px;
    background-size: contain;
  }

  .du-aboutbook{
    display: block;
    margin: 25px auto;
  }

  .about-text-exp{
    margin-top: 20px;
  }

  .about-text-exp-p{
    line-height: 35px;
    font-size: 15px;
  }
}

@media screen and (max-width: 970px){
  .du-context-box{
    display: table;
    height: 200px;
  }

  .du-context{
    text-align: justify;
    display: table-cell;
    vertical-align: middle;
    line-height: 30px;
    font-size: 15px;
  }

  .grid {
    position: relative;
    width: 700px;
    margin: 20px auto;
    background: #fff;
  }

  .grid-sizer,
  .grid-item {
    width: 350px;
  }

  .duhead,.duimg{
    width: 100%;
    height: 450px;
    background-size: contain;
  }

  .about-text-exp{
    display: block;
    margin: 20px auto;
    padding-left: 50px;
    text-align: left;
  }

  .du-text{
    width: 480px;
    font-size: 20px;
  }

  .du-btn{
    display: block;
    margin: 20px auto;
    text-align: center;
  }
}

@media screen and (max-width: 768px){

  .duhead,.duimg{
    width: 100%;
    height: 400px;
    background-size: contain;
  }

  .du-conimg{
    width: 200px;
    height: 300px;
    text-align: center;
    display: block;
  }

  .duimg{
    width: 100%;
    height: 400px;
  }

  .du-context-box{
    height: 200px;
  }

  .du-context{
    text-align: justify;
    line-height: 25px;
    font-size: 15px;
  }

  .grid {
    position: relative;
    width: 600px;
    margin: 20px auto;
    background: #fff;
  }

  .grid-sizer,
  .grid-item {
    width: 300px;
  }

  .du-text{
    width: 500px;
    font-size: 20px;
  }

  .du-btn{
    display: block;
    margin: 20px auto;
    text-align: center;
  }
  
  .du-fonttxt-f,.du-fonttxt-c{
    text-align: center;
  }

}

@media screen and (max-width: 736px){
  .grid {
    position: relative;
    width: 400px;
    margin: 20px auto;
    background: #fff;
  }

  .grid-sizer,
  .grid-item {
    width: 200px;
  }

  .du-btn{
    display: block;
    margin: 20px auto;
    text-align: center;
  }

  .about-text-exp{
    display: block;
    margin: 20px auto;
    padding-left: 20px;
    text-align: left;
  }

  .du-fonttxt-f,.du-fonttxt-c{
    text-align: center;
  }
}

@media screen and (max-device-width: 480px){
  .about-text-exp-p{
    text-align: left;
  }

  .duhead{
    width: 100%;
    height: 400px;
    background-size: contain;
  }

  .du-conimg{
    width: 200px;
    height: 300px;
    text-align: center;
    display: block;
  }

  .duimg{
    width: 100%;
    height: 400px;
  }

  .about-text-exp{
    display: block;
    margin: 20px auto;
    padding-left: 20px;
    text-align: left;
  }

  .grid {
    position: relative;
    width: 300px;
    margin: 20px auto;
    background: #fff;
  }

  .grid-sizer,
  .grid-item {
    width: 300px;
  }

  .du-text{
    width: 250px;
    font-size: 15px;
  }

  .du-btn{
    display: block;
    margin: 20px auto;
    text-align: center;
  }

  .du-fonttxt-f,.du-fonttxt-c{
    text-align: center;
  }

  .du-copyright p{
    font-size: 10px;
    height: 40px;
    line-height: 40px;
  }

}
