.slick-dots{
  position: absolute;
  bottom: 25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  z-index: 1;
}

.slick-next{
  right: 25px;
  z-index: 1;
}
